<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :title, :input_html => {:class => "span12"}, :hint => "Description of link for example a previous public performance" %>
    <%= f.input :url, :input_html => {:class => "span12"}, :hint => "Link to for example a previous public performance"" %>
    <%= remove_association_link "remove link", f %>
  <% end %>
</div>
