%section
  .page-header
    %h1 Welcome
  .row
    .span16
      %p Welcome to FRAB. We are using this to support our conferences.
      %p If you want to react to a call for participation please click on one of the following links:
      - @conferences.each do |conference|
        - if conference.call_for_papers
          %p
          = conference.title
          = link_to t("call for participation", :default => "Call for Participation"), new_cfp_session_path
      %p &nbsp;
      %p Thank you
