development:
  # Host configuration used to generate links in emails
  host: localhost
  port: 3000
  protocol: http
  # Default 'From' address, used when sending emails
  from_email: frab_dev@localhost
  content_mail: postmaster@localhost
  smtp_settings:
    address: localhost
    port: 1025

test:
  host: frab.test
  protocol: http
  from_email: frab_test@localhost
  content_mail: postmaster@localhost

production:
  # no need to specify port, when default (80) is used
  host: cfp.ohm2013.org
  protocol: https
  from_email: no-reply@ifcat.org
  content_mail: frab-notify@ohm2013.org
  # smtp server settings. see
  # http://api.rubyonrails.org/classes/ActionMailer/Base.html
  # for all available options
  smtp_settings:
    address: localhost
    enable_starttls_auto: false

